repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort .
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black .
        types: [python]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: mypy --strict -p watsong
        types: [python]
        pass_filenames: false
