{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Watsong{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="prompt">
  <form id="query-form">
    <p>What are you looking for?</p>
    <input type="text" placeholder="Beach tunes for 4th of July" name="query">
    <input type="submit" />
  </form>
</div>
<h2>Songs</h2>
<button onclick="showPlaylist()">Show on Spotify</button>
<div id="playlist">
</div>
<div id="dials">
  <div class="dial" id="energy">
    <img src="{{ url_for('static', filename='images/dial.png') }}" />
    <button class="less" onclick="less(this)">Less</button>
    <span>Energy</span>
    <button class="more" onclick="addEnergy(this)">More</button>
    <br />
    <button onclick="reload()">GO!</button>
  </div>

  <div class="dial" id="dance">
    <img src="{{ url_for('static', filename='images/dial.png') }}" />
    <button class="less" onclick="less(this)">Less</button>
    <span>Dance</span>
    <button class="more" onclick="more(this)">More</button>
    <br />
    <button onclick="reload()">GO!</button>
  </div>

  <div class="dial" id="lyrics">
    <img src="{{ url_for('static', filename='images/dial.png') }}" />
    <button class="less" onclick="removeLyrics(this)">Less</button>
    <span>Lyrics</span>
    <button class="more" onclick="more(this)">More</button>
    <br />
    <button onclick="reload()">GO!</button>
  </div>

  <div class="dial" id="melody">
    <img src="{{ url_for('static', filename='images/dial.png') }}" />
    <button class="less" onclick="less(this)">Less</button>
    <span>Melody</span>
    <button class="more" onclick="more(this)">More</button>
    <br />
    <button onclick="reload()">GO!</button>
  </div>
</div>

<script src="{{ url_for('static', filename = 'js/demo.js') }}"></script>

{% endblock %}