{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/boombox.css') }}" />
<div class="speaker" id="left">
    <img src="{{ url_for('static', filename='images/left.svg') }}" />
</div>
<div class="speaker" id="right">
    <img src="{{ url_for('static', filename='images/right.svg') }}" />
</div>
<div id="jukebox" style="padding: 2px; ">
    <header>
        <h1 style="font-family: Sharpie;">Watsong</h1>
    </header>
    <div id="prompt">
        <form id="jukebox-form" action={{ url_for('jukebox.jukebox') }} method="post">
            <input type="text" placeholder="Beach tunes for 4th of July" name="query" autofocus>
            <button class="chunky-button">Get Songs</button>
            <button type="button" onclick="showPlaylist()" class="chunky-button">Show on Spotify</button>
        </form>
    </div>
    <div class="gap"></div>
    <h2 id="playlistTitle">Your Mix: {{query}}
    </h2>
    <div id="playlist">
        {% if songs|length > 0 %}
        {% for song in songs %}
        <div class="song">
            <p class="title">{{ song['title'] }}</p>
            <p class="artist">{{ ", ".join(song['artists']) }}</p>
        </div>
        {% endfor %}

        {% else %}
        <p style="text-align: center; margin-top: 24px;">No songs available...</p>
        {% endif %}
    </div>
    <div id="dials">
        {% for dial in dials %}
        <div class="dial" id="{{ dial.lower() }}" style="position: relative;">
            <div>
                <img src="{{ url_for('static', filename='images/dial-face.svg') }}" />
            </div>
            <img class="dial-shadow" src="{{ url_for('static', filename='images/dial-shadow.svg') }}" />
            <div class="gap"></div>
            <span>{{ dial.lower().capitalize() }}</span>
            <span id="{{ dial }}_value">50%</span>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename = 'js/webapp.js') }}"></script>

{% endblock %}